body {
  margin: 0;
}

h1 {
  color: #fff;
  font-size: 3.5rem;
  text-align: center;
  text-transform: uppercase;
  padding-top: 30px;
}

.container {
  width: 100%;
  max-width: 1920px;
}

.top {
  background: url(/images/desktop/image-header.jpg) no-repeat bottom center, #3dbeff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 650px;
  background-size: contain;
}

@media screen and (max-width: 768px) {
  .top {
    height: 500px;
  }
}

.top svg {
  margin: 0 auto;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 768px) {
  main .left .text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

main .left .text h2 {
  font-size: 2.5rem;
  max-width: 280px;
}

@media screen and (max-width: 768px) {
  main .left .text h2 {
    max-width: none;
  }
}

@media screen and (max-width: 768px) {
  main .left {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

main .left .picture {
  background: url(/images/desktop/image-transform.jpg) no-repeat;
  height: 600px;
  width: 100%;
  background-size: cover;
}

@media screen and (max-width: 1200px) {
  main .left .picture {
    background-position: center;
  }
}

@media screen and (max-width: 768px) {
  main .left .picture {
    height: 400px;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

main .text {
  background: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .text .now {
  max-width: 400px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 768px) {
  main .text .now {
    text-align: center;
  }
}

main .text a {
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  position: relative;
}

main .text a span {
  position: relative;
  z-index: 10;
}

main .text a:before {
  position: absolute;
  content: "";
  bottom: -3px;
  width: 117px;
  height: 10px;
  z-index: 1;
  border-radius: 10px;
  background: #fbf0b7;
}

main .text a:hover {
  text-decoration: underline;
}

main .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 768px) {
  main .right .text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

main .right .text h2 {
  max-width: 370px;
  font-size: 2.5rem;
}

@media screen and (max-width: 768px) {
  main .right .text h2 {
    max-width: none;
  }
}

main .right .text a {
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  position: relative;
}

main .right .text a span {
  position: relative;
  z-index: 10;
}

main .right .text a:before {
  position: absolute;
  content: "";
  bottom: -3px;
  width: 117px;
  height: 10px;
  z-index: 1;
  border-radius: 10px;
  background: #fddad2;
}

main .right .text a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  main .right {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

main .right .picture {
  background: url(/images/desktop/image-stand-out.jpg) no-repeat;
  height: 600px;
  width: 100%;
  background-size: cover;
}

@media screen and (max-width: 1200px) {
  main .right .picture {
    background-position: center;
  }
}

@media screen and (max-width: 768px) {
  main .right .picture {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    height: 400px;
  }
}

.text,
.picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

@media screen and (max-width: 768px) {
  .text,
  .picture {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.color-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .color-box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.color-box .left-part {
  background: url(/images/desktop/image-graphic-design.jpg) no-repeat;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  background-size: cover;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1200px) {
  .color-box .left-part {
    background-position: center;
  }
}

@media screen and (max-width: 768px) {
  .color-box .left-part {
    height: 400px;
  }
}

.color-box .right-part {
  background: url(/images/desktop/image-photography.jpg) no-repeat;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  background-size: cover;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1200px) {
  .color-box .right-part {
    background-position: center;
  }
}

@media screen and (max-width: 768px) {
  .color-box .right-part {
    height: 400px;
  }
}

.together {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .together {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1400px;
  margin: 0 auto;
  padding: 80px 0;
}

@media screen and (max-width: 768px) {
  .testimonial {
    padding: 40px 0;
  }
}

.testimonial h4 {
  text-transform: uppercase;
  padding-bottom: 60px;
  text-align: center;
  color: gray;
  letter-spacing: 0.07em;
}

@media screen and (max-width: 768px) {
  .testimonial h4 {
    padding-bottom: 40px;
  }
}

.testimonial .person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .testimonial .person {
    max-width: 300px;
    margin: 0 auto;
    padding-bottom: 30px;
  }
}

.testimonial .person img {
  max-width: 70px;
  margin: 0 auto;
  width: 100%;
  border-radius: 50%;
}

.testimonial .title {
  font-weight: bold;
  padding-bottom: 10px;
}

.testimonial .job {
  color: gray;
}

.photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1200px) {
  .photos {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.photos .first-photo {
  background: url(/images/desktop/image-gallery-milkbottles.jpg) no-repeat;
  width: 100%;
  height: 400px;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .photos .first-photo {
    height: 300px;
    background-position: center;
  }
}

.photos .second-photo {
  background: url(/images/desktop/image-gallery-orange.jpg);
  width: 100%;
  height: 400px;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .photos .second-photo {
    height: 300px;
    background-position: center;
  }
}

.photos .third-photo {
  background: url(/images/desktop/image-gallery-cone.jpg);
  width: 100%;
  height: 400px;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .photos .third-photo {
    height: 300px;
    background-position: center;
  }
}

.photos .four-photo {
  background: url(/images/desktop/image-gallery-sugarcubes.jpg);
  width: 100%;
  height: 400px;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .photos .four-photo {
    height: 300px;
    background-position: center;
  }
}

.photo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

@media screen and (max-width: 1200px) {
  .photo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

.paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  max-width: 310px;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .paragraph {
    padding-bottom: 0;
  }
}

.paragraph h3 {
  margin-bottom: 0;
  font-size: 1.5rem;
}

footer {
  background: #90d4c5;
  padding: 60px 0;
}

@media screen and (max-width: 768px) {
  footer {
    padding: 40px 0 30px 0;
  }
}

footer .navigate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 300px;
  margin: 0 auto;
}

footer .navigate a {
  text-decoration: none;
  font-weight: 400;
  font-size: 1.3rem;
}

footer .navigate a:hover {
  text-decoration: underline;
}

footer .navigate-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 150px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  footer .navigate-socials {
    padding-top: 40px;
  }
}

footer .navigate-socials svg path {
  -webkit-transition: all 100ms;
  transition: all 100ms;
}

footer .navigate-socials a {
  text-decoration: none;
  font-weight: 400;
  font-size: 1.3rem;
}

footer .navigate-socials a:hover {
  text-decoration: none;
}

footer .navigate-socials a:hover svg path {
  fill: #fff;
}

.nahore {
  padding: 30px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nahore .left a {
  font-weight: bold;
  font-size: 1.9rem;
  text-decoration: none;
  color: #fff;
}

.common .logo {
  padding-bottom: 40px;
}

.common a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #2a7363;
  font-weight: bold;
  font-size: 1.8rem;
  text-decoration: none;
}

.common a:hover {
  text-decoration: underline;
}

@media (max-width: 1024px) {
  header nav ul {
    display: none;
  }
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4rem;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  list-style: none;
}

nav ul li:last-of-type a {
  text-transform: uppercase;
  background: #fff;
  color: #000;
  font-weight: bold;
  border-radius: 30px;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  nav ul li:last-of-type a {
    background: transparent;
    font-weight: 400;
    color: #fff;
    text-transform: initial;
  }
}

nav ul li:last-of-type a:hover:last-of-type {
  color: #fff;
  background: #3dbeff;
  border: 1px solid #fff;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 15px;
  border: 1px solid #3dbeff;
}

nav ul li a:hover {
  background: #fff;
  color: #000;
  border-radius: 30px;
}

#mobile-menu {
  position: absolute;
  top: 4.5%;
  right: 2rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#mobile-menu span {
  position: absolute;
  width: 80%;
  height: 2px;
  left: 10%;
  top: 50%;
  background-color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#mobile-menu span:first-of-type {
  top: 25%;
}

#mobile-menu span:last-of-type {
  top: 75%;
}

#mobile-menu.open span {
  opacity: 0;
}

#mobile-menu.open span:first-of-type,
#mobile-menu.open span:last-of-type {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 1;
  top: 50%;
}

#mobile-menu.open span:last-of-type {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#mobile-menu-content {
  width: 100%;
  height: 60px;
  background: transparent;
  position: fixed;
  top: -100vh;
  right: 0;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition: top 0.7s ease-in-out;
  transition: top 0.7s ease-in-out;
}

#mobile-menu-content.open {
  top: 6%;
}

#mobile-menu-content > div {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mobile-menu-content > div > ul {
  width: 100%;
  padding-right: 40px;
  background: #90d4c5;
  padding-top: 30px;
  padding-bottom: 30px;
}

#mobile-menu-content ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border-top: 2px solid #fff;
}

#mobile-menu-content ul li:last-of-type {
  border-bottom: 2px solid #fff;
}

#mobile-menu-content ul li a {
  padding: 1rem;
  text-decoration: none;
  color: #000;
  display: block;
}
/*# sourceMappingURL=style.css.map */